@{
    ViewBag.Title = "Kontakta oss";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<section>
    <form id="contactusform" method="POST" action="">
        <label for="name">Namn:</label>
        <input type="text" class="form-control" id="name">
        <label for="email">E-mail:</label>
        <input type="text" class="form-control" id="email">
        <label for="comment">Meddelande:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
        <input type="submit" value="Submit">
        </div>

</section>
